body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffd700;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #ffc107;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* New styles for the registration link */
.register-link {
    margin-top: 15px;
    color: white;
}

.register-link a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s;
}

.register-link a:hover {
    color: #ffc107;
}

/* Add styles for the password container and eye icon */
.password-container {
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: calc(100% - 39px);
    padding-right: 30px; /* Space for the icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    transition: color 0.3s;
}

.toggle-password:hover {
    color: #ffd700;
}